.task__container{
    background: var(--light-text-color);
    color: var(--text-color);
    width: 100%;
    border-radius: 10px;
    padding: 10px 27px;
    gap: 10px;
    height: min-content;
}
.task__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--light-text-color);
    height: 80px;
    width: 100%;
    gap: 10px;
    font-size: 0.85rem;
}
.task_date{
    font-size: 0.85rem;
    font-weight: bold;
}
.spliter{
    height: 2px;
    border-radius: 1px;
    width: 100%;
    background: var(--medium-text-color);
}
.spliter_vertical{
    width: 2px;
    border-radius: 1px;
    height: 100%;
    background: var(--medium-text-color);
}
.task__status{
    display: flex;
    align-items: center;
    gap: 6px;
}
.status__indicator{
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.status__indicator_in_word{
    background-color: #F96E2B;
}

.status__indicator_success{
    background-color: #05C312;
}

.status__indicator_overdue{
    background-color: #CA0606;
}

.status__indicator_success_with_delay{
    background-color: #9747FF;
}

.status__indicator_new{
    background-color: #F92B9C;

}
.task__menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}